{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3" >Tasks</h2>
      <h3 class="mb-3">To be completed</h3>
      <ul class="list-group mb-4">
        {% for item in items if item["status"] == "Not Started" %}
          <li class="list-group-item">
          <div class="container">
              <div class = "row">
                  <div class="col-9">
                      {{ item.title }}
                 </div>
                  <div class = "col-2">
                      <a class ="btn btn-success" href="complete_item/{{ item.id }}" role="button">
              Completed
              </a>
                  </div>
                  <div class = "col-1">
                      <a class ="btn btn-danger" href="delete_item/{{ item.id }}" role="button">
              Delete
              </a>
                  </div>
              </div>
          </div>
          </li>
        {% endfor %}
      <h3 class="mb-3 mt-3">Completed</h3>
      <ul class="list-group mb-4">
          {% for item in items if item["status"] == "Completed" %}
              <li class="list-group-item">
          <div class="container">
              <div class = "row">
                  <div class="col-11">
                      {{ item.title }}
                 </div>
                  <div class = "col-1">
                      <a class ="btn btn-danger" href="delete_item/{{ item.id }}" role="button">
              Delete
              </a>
                  </div>
              </div>
          </div>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

    <div class = "form_collect">
        <form action = {{ url_for("create_new_task") }} method="post">
            <div class="form-group">
                <label for="todo">Enter an item to complete: </label>
                <input type = "text" name="todo" id="todo" class="form-control" placeholder="task" required>
            </div>
            <div class = "form_item">
                <Button type="submit" class="btn btn-primary btn-large">Add</Button>
            </div>
        </form>
    </div>
{% endblock %}